body {
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    width: 375px;
    height: 809px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.header {
    width: 375px;
    height: 356px;
    border-radius: 0px 0px 32px 32px;
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
}

.header h4 {
    width: 94px;
    height: 23px;
    padding-top: 24px;
    padding-left: 141px;
    font-weight: 700;
    line-height: 23.45px;
    text-align: center;
    color: #CAC9FF;
}

.header__nav{
    width: 140px;
    height: 140px;
    margin-top: 24px;
    margin-left: 118px;
    border-radius: 66px;
    background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
}

.header__title {
    width: 260px;
    height: 81px;
    margin: 24px 57px 40px;
}

.header__title h3 {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.header__title p {
    line-height: 20.85px;
    text-align: center;
    color: #CAC9FF;
    margin-top: -6px;
}

.content h4 {
    padding: 24px 0px 24px 32px;
    font-size: 18px;
    text-align: left;
    color: #303B59;
}

.content__box {
    width: 315px;
    height: 272px;
    margin: -25px 30px;
}

.box {
    display: flex;
    align-items: center;
    width: 315px;
    height: 56px;
    margin-top: 10px;
    border-radius: 12px; 
}
.box1 {
    background-color: #fff1f1;
    p{
        color: #FF5555;
    }
}
.box2 {
    background-color: #fbf9f4;
    p{
        color: #FFB21E;
    }
}
.box3 {
    background-color: #e6fdf7;
    p{
        color: #00BB8F;
    }
}
.box4 {
    background-color: #f2f4fe;
    p{
        color: #1125D6;
    }
}

.box p {
    width: 63px;
    height: 21px;
    margin-left: 17px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.85px;
    text-align: left;
}

.box img {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}
.my-button {
    width: 315px;
    height: 56px;
    border-radius: 128px;
    background: linear-gradient(180deg, #7755FF 0%, #6943FF 0.01%, #2F2CE9 100%);
    color: white;
    margin: 0px -115px -183px;
}

#scoreList {
    width: 64px;
    height: 21px;
    margin-top: -474px;
    margin-right: -189px;
}
li { 
    margin-top: 48px;
}
#totalScore {
    width: 63px;
    height: 72px;
    margin-top: -921px;
    margin-left: 2px;
    color: white;
    font-size: 50px;
}

@media screen and (min-width: 1280px) {
    .container{
        width: 736px;
        height: 512px;
    }
    .header{
        width: 368px;
        height: 512px;
        top: 284px;
        left: 352px;
        border-radius: 32px;  
    }
    .content{
        margin-top: -503px;
        margin-left: 369px;
    }
    .box{
        margin-bottom: 30px;
    }
    .header h4{
        width: 125px;
        height: 31px;
        padding-top: 46px;
        font-size: 22px;
        text-align: left;
        margin-left: -10px;
    }
    .header__nav{
        width: 200px;
        height: 200px;
        margin-top: 43px;
        margin-left: 87px;
        border-radius: 96px;
    }
    .header__title h3 {
        font-size: 39px;
    }
    .header__title p {
        font-size: 18px;
        margin-top: -22px;
    }
    #scoreList {
        width: 64px;
        height: 21px;
        margin-top: -632px;
        margin-right: -189px;
    }
    li { 
        margin-top: 67px;
    }
    #totalScore {
        width: 63px;
        height: 72px;
        margin-top: -173px;
        margin-left: -394px;
        color: white;
        font-size: 80px;
    }
}